html{
    background-image: url(https://wallpapercave.com/wp/wp7213366.jpg);
    }
    h1 {
        color: coral;
        text-align: center;
    }
h2 {
    color: mediumblue;
}
#orange {
    color: orange;
    background-color: yellow;
}
#blue {
    color:blue;
    background-color: deepskyblue;
}
