html{
    background-image: url(https://wallpapercave.com/wp/wp7213366.jpg);
    }
    h1 {
        color:blue;
        text-align: center;
    }
    #hp {
        color: rgb(45, 213, 222);
    }